<article>
    <p>welcome</p>
    <div>
        <div>{{dreams.title}}</div>
        <div class="random-dream">{{dreams.dream_story}}</div>
        <p>{{dreams.upvote}}</p>
        <button>upvote</button>
        <button>downvote</button>
        <p>{{dreams.downvote}}</p>
        <div class="sharethis-inline-share-buttons"></div>
        <button id="share">Share To Twitter</button>
        
    </div>
</article>