<article>
    <p>welcome</p>
    <div>
        <div class="random-dream">Dream Info Goes Here</div>
        <p>{{likes}}</p>
        <button>upvote</button>
        <button>downvote</button>
        <p>{{dislikes}}</p>
        <div class="sharethis-inline-share-buttons"></div>
        <button id="share">Share To Twitter</button>
        
    </div>
</article>