<table>
    <thead>
        <tr>
            <td class="dream-title-1">
               Dream 1 
            </td>
            <td>
                <button>Thumbs Up</button>
            </td>
            <td>
                <button>
                    Thumbs Down
                </button>
            </td>
        </tr>
        <tr>
            <td class="dream-title-2">
               Dream 2 
            </td>
            <td>
                <button>Thumbs Up</button>
            </td>
            <td class="dream-title-2">
                <button>
                    Thumbs Down
                </button>
            </td>
        </tr>
        <tr>
            <td class="dream-title-3">
               Dream 3 
            </td>
            <td>
                <button>Thumbs Up</button>
            </td>
            <td>
                <button>
                    Thumbs Down
                </button>
            </td>
        </tr>
    </thead>
</table>

// m's updates all above

