<article>
    <form class="post-dream-form">
        <label for="dream-title">Title of Dream:</label>
            <input type="text" name="dream-title">
        <label for="dream-story">What Happened In Your Dream:</label>
            <textarea id="written-down-dream" name="dream-story" placeholder="type what happened here"></textarea>
            <input id="submit-button" type="submit" value="Submit">
    </form>
</article>