<article>
    <form class="form-horizontal">
        <div class="form-group">
        <label for="dream-title" calss="col-sm-3 control-label">Title of Dream:</label>
            <input type="text" name="dream-title" class="form-control">
        </div>    
        <label for="dream-story">What Happened In Your Dream:</label>
            <textarea rows="10" id="written-down-dream" name="dream-story" placeholder="type what happened here"></textarea>
            <input id="submit-button" type="submit" value="Submit">
    </form>
</article>
<script src="/javascript/postDream.js"></script>