<article>
    <form class="form-horizontal" id="post-dream-form">
        <div class="form-group">
        <label for="dream-title" class="col-sm-2 control-label">Title of Dream:</label>
            <div class="col-sm-10">
            <input type="text" name="dream-title" class="form-control">
            </div>
        </div>
        <label for="dream-story" class="col-sm-2">Describe Your Dream:</label>
            <textarea rows="10" class="col-sm-10" id="written-down-dream" name="dream-story" placeholder="type what happened here"></textarea>
            <div>
            <input id="submit-button" type="submit" value="Submit">
            </div>
    </form>
</article>
<script src="/javascript/post-dream.js"></script>